## Deliverable 3. Create a Travel Itinerary Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [58]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head(12)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Kapoeta,SS,78.82,clear sky,4.7717,33.5903,None
1,4,Avarua,CK,82.45,scattered clouds,-21.2078,-159.7750,None
2,8,Zahir Pir,PK,85.41,clear sky,28.8124,70.5240,None
3,9,Butaritari,KI,82.76,light rain,3.0707,172.7902,None
4,19,Jamestown,US,80.19,few clouds,42.0970,-79.2353,None
5,24,Vaini,TO,80.76,scattered clouds,-21.2000,-175.2000,None
6,38,Cabadiangan,PH,83.43,broken clouds,9.7531,122.4739,None
7,42,Hilo,US,82.26,broken clouds,19.7297,-155.0900,None
8,46,Dwarka,IN,84.52,broken clouds,22.2394,68.9678,None
9,47,Alyangula,AU,78.69,few clouds,-13.8483,136.4192,None
10,55,Bloomsburg,US,77.72,overcast clouds,41.0037,-76.4549,None
11,57,Cabo San Lucas,MX,89.91,clear sky,22.8909,-109.9124,None

In [46]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_df = vacation_df[["Lat", "Lng"]]

In [47]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Kapoet"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Avarua"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Butaritari"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Jamestown"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Alyangula"]

In [70]:
vacation_start.head()

Empty DataFrame
Columns: [City_ID, City, Country, Max Temp, Current Description, Lat, Lng, Hotel Name]
Index: []

In [42]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])
end = tuple(vacation_end[["Lat", "Lng"]].to_numpy()[0]) 
stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])   
stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0]) 
stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])  
stop3

IndexError: index 0 is out of bounds for axis 0 with size 0

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_route = gmaps.directions_layer(
        start, end, waypoints = [stop1, stop2, stop3],
        travel_mode = "DRIVING")
fig.add_layer(vacation_route)
fig

NameError: name 'start' is not defined

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure